<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_PHONE_CALL" />
    <uses-permission android:name="android.permission.MANAGE_OWN_CALLS" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera.any" />

    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:name="com.example.baseapp.Application.MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_app_icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@drawable/ic_app_icon"
        android:supportsRtl="false"
        android:theme="@style/Theme.BaseApp"
        tools:targetApi="31">
        <activity
            android:name="com.example.baseapp.coin.CoinActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.example.baseapp.utils.StmulateActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.example.baseapp.fragments.sms.ThemeSmsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".zbr"
            android:exported="false" />
        <activity
            android:name="com.example.baseapp.SettingActivity2"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.baseapp.secondPermission.SecondPermissionActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.baseapp.chatFragtoActivity.ChatMainActivity"
            android:configChanges="uiMode"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.baseapp.inAppPurchases.InAppPurchases"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.baseapp.onbording.onbording"
            android:configChanges="uiMode"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.baseapp.consent.ConsentActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.baseapp.ActivityCustomcall"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.baseapp.chatfragmentActivity.ChatFragmentContainerActivity"
            android:exported="false" /> <!-- <meta-data -->
        <!-- android:name="com.google.android.gms.ads.APPLICATION_ID" -->
        <!-- android:value="ca-app-pub-3173814755166534~5409509587" /> -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3173814755166534~5409509587" />
        <meta-data
            android:name="applovin.sdk.key"
            android:value="BaKm1cTZOw37dewJo8FfVdbXD23R86cG6hV2SVzwI_NJV0J1XVxRSZOFdGU6xQvN4tfcVMR75_3lSTaTSxVZmB" />
        <meta-data
            android:name="com.vungle.publisher.AppId"
            android:value="686baba0bd2bb2bd38d2901c" />
        <meta-data
            android:name="com.google.android.gms.ads.AD_MANAGER_APP"
            android:value="true" />
        <meta-data
            android:name="com.google.android.gms.ads.flag.OPTIMIZE_INITIALIZATION"
            android:value="true" />
        <meta-data
            android:name="com.google.android.gms.ads.flag.OPTIMIZE_AD_LOADING"
            android:value="true" />

        <activity
            android:name="com.example.baseapp.callsActivity.CallActivity"
            android:configChanges="uiMode"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.baseapp.chatActivity.ChatActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.baseapp.ringtones.RingtoneActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.baseapp.themes.ThemeActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.baseapp.schedule.ScheduleActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.baseapp.SettingActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.baseapp.tutorialActivity.TutorialActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.baseapp.localization.LocalizationActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.baseapp.PermissionActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:theme="@style/AdTheme"
            tools:replace="android:theme" />
        <activity
            android:name="com.example.baseapp.SplashScreen"
            android:configChanges="uiMode"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.baseapp.MainActivity"
            android:configChanges="uiMode"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="audiocall" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service
            android:name="com.example.baseapp.Application.MessagingForegroundService"
            android:enabled="true"
            android:foregroundServiceType="shortService" />
        <service
            android:name="com.example.baseapp.Firebase.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service> <!-- 🔽  RingingForegroundService here -->
        <service
            android:name="com.example.baseapp.Application.RingingForegroundService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="phoneCall" />

        <receiver
            android:name="com.example.baseapp.alarmManagers.AlarmReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.test.intent.action.ALARM" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.example.baseapp.alarmManagers.SmSReciver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.test.intent.action.ALARM" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.example.baseapp.alarmManagers.ReplyReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.test.intent.action.ALARM" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.example.baseapp.alarmManagers.NotificationDismissReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="ACTION_NOTIFICATION_DELETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.example.baseapp.alarmManagers.VideoAlarmReciver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.test.intent.action.ALARM" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.example.baseapp.alarmManagers.CustomVideoAlarmReciver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.test.intent.action.ALARM" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.example.baseapp.alarmManagers.CustomcallReciver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.test.intent.action.ALARM" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>